from sklearn.model_selection import train_test_split


ids_train_val = [series_uid for series_uid in dataset.ids if dataset.subset(series_uid) < 8]
ids_holdout = [series_uid for series_uid in dataset.ids if dataset.subset(series_uid) in [8, 9]]

train_val_ids = train_test_split(ids_train_val, test_size=5, random_state=seed)
split = [[train_val_ids[0], train_val_ids[1], ids_holdout]]
