from functools import partial

import numpy as np

from dpipe.batch_iter import Infinite, sample, apply_at
from dpipe.im.shape_utils import prepend_dims

from lowres.batch_iter import extract_patch, center_choice


def get_weights(dataset, train_ids):
    weights = np.array(list(map(dataset.n_lung_nodules, train_ids)), dtype='float32')
    weights = weights / weights.sum()

    return weights


weights = get_weights(dataset, train_ids)

batch_iter = Infinite(
    sample(train_ids, weights, random_state=seed),
    loader,
    partial(center_choice, y_patch_size=y_patch_size, nonzero_fraction=0.5, tumor_sampling=True),
    partial(extract_patch, x_patch_size=x_patch_size, y_patch_size=y_patch_size),
    apply_at([0, 1], prepend_dims),
    batch_size=batch_size, batches_per_epoch=batches_per_epoch, buffer_size=8
)
