from functools import partial

import numpy as np

from dpipe.batch_iter import Infinite, load_by_random_id
from lowres.batch_iter import extract_patch, center_choice

patient_sampling_weights = n_tumors / np.sum(n_tumors)
load_centers = dataset.load_tumor_centers

batch_iter = Infinite(
    load_by_random_id(load_x, load_y, load_centers,
                      ids=train_ids, weights=patient_sampling_weights, random_state=seed),
    partial(center_choice, y_patch_size=y_patch_size, nonzero_fraction=0.5, tumor_sampling=True),
    partial(extract_patch, x_patch_size=x_patch_size, y_patch_size=y_patch_size),
    batch_size=batch_size, batches_per_epoch=batches_per_epoch, buffer_size=8
)
