from ...assets.core import *
from ...assets.dataset.luna import *
from ...assets.batch_iter.tumor_sampling import *
from ...assets.cross_val.luna_holdout import *
from ...assets.model.lowres.lowres import *
from ...assets.metric import *

# from lowres.path_local import path_to_pretrained_model_x8
from lowres.path import path_to_pretrained_model_x8

path_to_pretrained_model_x8 = path_to_pretrained_model_x8
